/* Text Properties */
.base {
    font-family: 'Quattrocento Sans', sans-serif;
    color: #423842;
    font-size: 14px;
    font-weight: 200;
}
.font-fancy {
    font-family: 'Asap', sans-serif;
}
.purple {
    color: #720072;
}
.light-purple {
    color: #CD99CD;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.lcase {
    text-transform: lowercase;
}
.ucase {
    text-transform: uppercase;
}


/* Text sizes -- in decreasing order */
.s1 {
    font-size: 64px;
}
.s1a {
    font-size: 40px;
}
.s2 {
    font-size: 24px;
}
.s3 {
    font-size: 16px;
}
.s4 {
    font-size: 15px;
}
.s5 {
    font-size: 14px;
}


/* Vertical såpacing */
.vhalf {
    margin-top: 7px;
    margin-bottom: 7px;
}
.v1 {
    margin-top: 14px;
    margin-bottom: 14px;
}
.v2 {
    margin-top: 28px;
    margin-bottom: 28px;
}

/* Decorations */
.inline {
    display: inline-block;
}

.first-letter-purple::first-letter {
    color: #720072;
}

.bracketed {
    position: relative;
    padding-left: 9px;
    padding-right: 9px;
    border: 3px solid transparent;
    display: inline-block;
}
.bracketed::before {
    position: absolute;
    left: -3px;
    top: -3px;
    width: 4px;
    height: 100%;
    border-color: #CD99CD;
    border-style: solid;
    border-width: 3px 0 3px 3px;
    border-radius: 1px;
    content: ""
}
.bracketed::after {
    position: absolute;
    right: -3px;
    top: -3px;
    width: 4px;
    height: 100%;
    border-color: #CD99CD;
    border-style: solid;
    border-width: 3px 3px 3px 0;
    border-radius: 1px;
    content: ""
}

.bulleted {
    position: relative;
    margin-left: 12px;
    list-style-type: none;
}
.bulleted::after {
    content: "";
    position: absolute;
    top: 1ex;
    left: -12px;
    border-style: solid;
    border-width: 2px 0 2px 6px;
    border-color: transparent #423842;
}


/* Page Layout */

body, h1, h2, h3, h4, ul, li, section {
    margin: 0;
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

#page {
    box-sizing: border-box;
    width: 816px;
    height: 1056px;
    background-color: white;
    border-left: 28px solid #400040;  /* left border */
    overflow: hidden;
}
#page::before {
    display: block;
    border-bottom: 42px solid #720072;  /* top border */
    content: ""
}
#main {
    margin-left: 14px;
    margin-right: 35px;
}
#summary {
    margin-left: 35px;
    margin-right: 56px;
}

.columns {
    width: 100%;
    box-sizing: border-box;
}
.columns::after{
    /* clearfix hack */
    display: block;
    content: "";
    clear: both;
}
.columns > * {
    float: left;
    box-sizing: border-box;
}
.columns > *:first-child {
    width: 43%;
    padding-right: 14px;
}
.columns > *:last-child {
    padding-left: 14px;
    width: 57%
}

/* media */

@media screen {

    body {
        background-color: #DDDDDD;

    }
    #page {
        margin: 18px;
        box-shadow: 0 0 18px 8px #777777;
        transform-origin: top left;
    }

}

/* auto fit width */
@media screen and (max-width: 851px) {#page {transform: scale(0.9)}}
@media screen and (max-width: 769px) {#page {transform: scale(0.8)}}
@media screen and (max-width: 688px) {#page {transform: scale(0.7)}}
@media screen and (min-width: 934px) {#page {transform: scale(1.1)}}
@media screen and (min-width: 1015px) {#page {transform: scale(1.2)}}
@media screen and (min-width: 1097px) {#page {transform: scale(1.3)}}
@media screen and (min-width: 1178px) {#page {transform: scale(1.4)}}
@media screen and (min-width: 1260px) {#page {transform: scale(1.5)}}

@media print {
    @page {
        size: 8.5in 11in;
        margin: 0;
    }
    #page {
        page-break-inside: avoid;
    }
}
